.battles {
  max-width: 100vw;
  display: grid;
  justify-content: center;
  padding-top: 40px;
}
.battles_kernel {
  width: 1400px;
  display: grid;
  justify-content: center;
  position: relative;
}
.battles_kernel #shield {
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  z-index: 99;
  display: grid;
  justify-content: center;
  align-items: center;
}
.battles_kernel #shield h3 {
  font-weight: 500;
  font-size: x-large;
  filter: drop-shadow(0 0 20px gold);
}
.battles_kernel_options {
  border-top: 1px solid navy;
  padding: 10px 30px;
  width: 1100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.battles_kernel_options #double {
  display: flex;
  align-items: flex-end;
  color: lightgreen;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 500;
}
.battles_kernel_options #double img {
  filter: brightness(1.1);
}
.battles_kernel_options #double input {
  display: none;
}
.battles_kernel_options #double label {
  width: 50px;
  height: 30px;
  border: 1px solid silver;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.3);
}
.battles_kernel_options #double label:before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: silver;
}
.battles_kernel_options #double input:checked ~ label {
  background-color: rgba(255, 165, 0, 0.3);
  border: 1px solid orange;
}
.battles_kernel_options #double input:checked ~ label:before {
  left: 20px;
  background-color: orange;
}
.battles_kernel_options #radios {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 195px;
}
.battles_kernel_options #radios input {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.battles_kernel_options #radios input:after {
  position: absolute;
  top: -5px;
  left: -5px;
  content: "2";
  width: 30px;
  height: 30px;
  background-color: orange;
  color: white;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  filter: grayscale(90%);
  font-size: large;
  font-weight: bold;
}
.battles_kernel_options #radios input:checked:after {
  filter: grayscale(0%);
}
.battles_kernel_options #radios input:nth-child(2):after {
  content: "3";
}
.battles_kernel_options #radios input:nth-child(3):after {
  content: "4";
}
.battles_kernel_options #radios input:nth-child(4):after {
  width: 60px;
  border-radius: 15px;
  content: "2x2";
}
.battles_kernel_createbattle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.battles_kernel_createbattle button {
  background-color: rgba(128, 0, 128, 0.7);
  width: 700px;
  height: 100%;
  -webkit-clip-path: polygon(72.25% 50%, 75% 93.3%, 25% 93.3%, 27.75% 50%, 25% 6.7%, 75% 6.7%);
          clip-path: polygon(72.25% 50%, 75% 93.3%, 25% 93.3%, 27.75% 50%, 25% 6.7%, 75% 6.7%);
  color: white;
  font-weight: 500;
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
}
.battles_kernel_createbattle button:hover {
  -webkit-clip-path: polygon(82.25% 50%, 75% 93.3%, 25% 93.3%, 17.75% 50%, 25% 6.7%, 75% 6.7%);
          clip-path: polygon(82.25% 50%, 75% 93.3%, 25% 93.3%, 17.75% 50%, 25% 6.7%, 75% 6.7%);
  background-color: purple;
  filter: brightness(1.3);
}
.battles_kernel #newbattle {
  width: 1100px;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-wrap: wrap;
  gap: 10px;
}
.battles_kernel #newbattle #added {
  width: 212px;
  height: 250px;
  background-color: rgba(3, 3, 14, 0.0941176471);
  box-shadow: inset 0 0 3px 0px navy;
  padding: 2px;
  position: relative;
}
.battles_kernel #newbattle #added button {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  font-weight: 500;
  font-size: larger;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
}
.battles_kernel #newbattle #added span {
  position: absolute;
  bottom: 20px;
  width: 175px;
  left: 20px;
  z-index: 9;
  color: white;
  background-color: black;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.battles_kernel #newbattle #added span p {
  font-weight: 500;
  line-height: 20px;
}
.battles_kernel #newbattle #added span p:nth-child(2) {
  color: gold;
}
.battles_kernel #newbattle #addcase {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 250px;
  position: relative;
  z-index: 99;
  border: 2px solid navy;
  color: white;
  z-index: 9;
  flex-grow: 1;
}
.battles_kernel #newbattle #addcase div {
  display: grid;
  justify-content: center;
  align-items: center;
}
.battles_kernel #newbattle #addcase img {
  filter: invert(50%);
  z-index: 3;
}
.battles_kernel #newbattle #addcase h3 {
  color: silver;
}
.battles_kernel #newbattle #addcase span {
  position: absolute;
  z-index: 1;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: width 0.4s ease, box-shadow 0.5s ease;
  display: grid;
  justify-self: center;
  align-self: center;
}
.battles_kernel #newbattle #addcase:hover img {
  filter: invert(100%) drop-shadow(0 0 5px gold) brightness(1.5);
}
.battles_kernel #newbattle #addcase:hover h3 {
  filter: drop-shadow(0 0 5px crimson) brightness(1.5);
}
.battles_kernel #newbattle #addcase:hover span {
  width: 200px !important;
  box-shadow: 0 0 3px gold;
}

.cases #options {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.cases #options h4 {
  color: white;
}
.cases #options #cost {
  position: absolute;
  right: 30px;
  color: white;
}
.cases #options button {
  width: 90px;
  background-color: greenyellow;
  margin-left: 20px;
  font-weight: 600;
}
.cases #kernel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  height: 550px;
  scrollbar-width: none;
  overflow-y: scroll;
}
.cases #kernel::-webkit-scrollbar {
  display: none;
}
.cases #kernel #each {
  border: 1px solid gray;
  border-radius: 5px;
  width: 185px;
  aspect-ratio: 20/25;
  position: relative;
}
.cases #kernel #each:hover {
  filter: brightness(1.3);
}
.cases #kernel #each img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2 !important;
}
.cases #kernel #each span {
  position: absolute;
  bottom: 20px;
  width: 175px;
  left: 5px;
  z-index: 9;
  color: white;
  font-weight: 600;
  background-color: black;
}
.cases #kernel #each #added {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: greenyellow;
}/*# sourceMappingURL=Battles.module.css.map */