.casepage{
    #bg{
        position: fixed;
        background-color: black;
        top:0; left: 0; right: 0;bottom: 0;
        background-image: url("/bgbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &_case{
        display: grid;
        justify-items: center;
        position: relative;
        padding-top: 50px;
        #outerindex{
            position: relative;
            margin-top: 10px;
            z-index: 999999 !important;
            #index{
                position: absolute;
                top:-20px;
                height: 245px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: xx-large;
                color: orange;
            }
        }
        #caseDemo{
            width: 204px;
            height: 274px;
            display: grid;
            justify-items: center;
            align-items: center;
            color: whitesmoke;
            font-weight: 500;
            filter: brightness(1.1);
            margin-bottom: 20px;
            position: relative;
            font-size: large;
            overflow: hidden;
            border-radius: 10px;
            span{
                position: absolute;
                bottom:5px;
                z-index: 99;
            }
            img{
                filter: drop-shadow(0 0 2px gray);
                border-radius: 10px;
                background-color: black;
            }
            &:hover{
                filter: brightness(1.3);
            }
            &::before, &:after{
                content: "";
                z-index: -1;
                position: absolute;
                width: 500px;
                height: 700px;
                background-image:conic-gradient(transparent,transparent,transparent,#670606);
                animation: spin 4s linear infinite;
                filter: brightness(2);
                border-radius: 10px;
            }
            &:after{
                background-image:conic-gradient(transparent,transparent,transparent,#c9561b);
                animation-delay: -2s;
            }
        }
        h3{
            color: whitesmoke;
        }
        #verticalindex{
            position: relative;
            display: flex;
            justify-content: center;
            #indexes{
                position: absolute;
                z-index: 99999;
                display: flex;
                justify-content: space-between;
                color: orange;
                font-size: xx-large;
                top:75px;
                padding-left: 6px;
            }
        }

        &_kernel{
            display: grid;
            align-items: flex-start;
            width: 1400px;
            overflow: hidden;
            position: relative;
            &_spinner, &_verticalspinner{
                display: flex;
                column-gap: 2px;
                justify-items: flex-start;
                width: fit-content;                
                position: relative;
                button{
                    width: 200px;
                    height: 200px !important;
                    padding-top: 20px;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    filter: brightness(1.1);
                    position: relative;
                    img{
                        filter: drop-shadow(0 0 2px #0e0e0e);
                    }
                    &:hover{
                        filter: brightness(1.3);
                    }
                    #text{
                        display: grid;
                        position: relative;
                        top:-20px;
                        color: whitesmoke !important;
                        span{
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 15px;
                        }
                    }
                    #luck{
                        position: absolute;
                        right: 10px;
                        top:5px;
                        font-size: 10px !important;
                        line-height: 14px;
                        color: whitesmoke !important;
                        text-align: center;
                        font-weight: 500;
                        display: grid;
                    }
                }
                #loading{
                    background-image: linear-gradient(to right, #0a0a0a 10%, #121212 55%, #0a0a0a 100%);
                    background-size: 200% 100%;
                    animation: gradientMovement 1s linear infinite;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
            &_verticalspinner{
                display: grid;
                justify-items: flex-start;
            }
            #slide{
                position: relative;
                animation: slide 10s 1 forwards;
            }
            #slidevertical{
                position: relative;
                animation: slidevertical 10s 1 forwards;
            }
        }
        #main{
            box-shadow: 0 0 1px 1px orange;
            height: 200px;
            border-radius: 10px;
        }
        #kernelvertical{
            display: flex;
            justify-items: center;
            column-gap: 3px;
            align-items: flex-start;
            box-shadow: 0 0 1px 1px orange;
            height: 200px;
            width: fit-content;
            position: relative;
            border-radius: 10px;
        }
        &_result{
            position: absolute;
            top:40px;
            width: 900px;
            z-index: 99;
            display: grid;
            justify-items: center;
            align-items: center;
            //background-color: black;
            padding-top: 10px;
            border: 3px solid yellow;
            h3{
                position: absolute;
                top:-30px;
                left: 49%;
                #index{
                    height: 215px;
                    filter: brightness(1.2);
                }
            }
            #tata{
                width: 250px;
                height: 200px;
                display: grid;
                justify-items: center;
                align-items: center;
                filter: brightness(1.1);
                padding-top: 30px;
                position: relative;
                img{
                    filter: drop-shadow(0 0 2px gray);
                }
                &:hover{
                    filter: brightness(1.3);
                }
                #chance{
                    position: absolute;
                    right: 10px;
                    top:5px;
                    font-size: 10px !important;
                    line-height: 14px;
                    color: whitesmoke !important;
                    text-align: center;
                    font-weight: 500;
                    display: grid;
                }
                #text{
                    display: grid;
                    position: relative;
                    top:-20px;
                    color: whitesmoke !important;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                    }
                }
            }
            #ops{
                padding-top: 30px;
                height: 50px;
                position: relative;
                display: flex;
                column-gap: 30px;
                button{
                    color: whitesmoke;
                    position: relative;
                    background-color: #e11963;
                    width: 150px;
                    height: 40px;
                    font-size: small;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    img{
                        filter: invert(100%);
                    }
                    &:hover{
                        filter: brightness(1.3);
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -10px;
                        border-width: 20px 10px 20px 0;
                        border-style: solid;
                        border-color: transparent #e11963 transparent transparent;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -10px;
                        border-width: 20px 10px 20px 0;
                        border-style: solid;
                        border-color: transparent #e11963 transparent transparent;
                        transform: rotate(180deg);
                    }
                }
                button:nth-child(2){
                    background-color: purple;
                    &:before{
                        border-color: transparent purple transparent transparent;
                    }
                    &:after{
                        border-color: transparent purple transparent transparent;
                    }
                }
                button:nth-child(3){
                    background-color: rgba(255, 0, 255, 0.693);
                    &:before{
                        border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
                    }
                    &:after{
                        border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
                    }
                }
            }
        }
        #actions{
            color: white;
            margin-top: 40px;
            width: 1000px;
            display: flex;
            justify-content: center;
            column-gap: 50px;
            margin-bottom: 60px;
            #shaped, #shaped2, #shaped3{
                width: 220px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: small;
                font-weight: 500;
                button{
                    background-color: #131023;
                    width: 60px;
                    height: 60px;
                    position: relative;
                    color: white;
                    &:hover{
                        background-color: #211c44 !important;
                    }
                }
                button:nth-child(1){
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent #131023 transparent transparent;
                    }
                    &:hover{
                        &::before{
                            border-color: transparent #211c44 transparent transparent;
                        }
                    }
                }
                button:nth-child(5){
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent #131023 transparent transparent;
                        transform: rotate(180deg);
                    }
                    &:hover{
                        &::after{
                            border-color: transparent #211c44 transparent transparent;
                        }
                    }
                }
                #chosenlast{
                    background-color: #211c44 !important;
                    filter: grayscale(30%);
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent #211c44 transparent transparent;
                        transform: rotate(180deg);
                    }
                }
                #chosenfirst{
                    background-color: #211c44  !important;
                    filter: grayscale(30%);
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent #211c44  transparent transparent;
                    }
                }
            }
            #shaped2,#shaped3{
                position: relative;
                background-color: #e11963;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -15px;
                    border-width: 30px 15px 30px 0;
                    border-style: solid;
                    border-color: transparent #e11963 transparent transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -15px;
                    border-width: 30px 15px 30px 0;
                    border-style: solid;
                    border-color: transparent #e11963 transparent transparent;
                    transform: rotate(180deg);
                }
            }
            #shaped3{
                background-color: purple;
                column-gap: 10px;
                img{
                    filter: invert(100%);
                }
                &:before{
                    border-color: transparent purple transparent transparent;
                }
                &:after{
                    border-color: transparent purple transparent transparent;
                }
            }
        }
        #gifts{
            overflow: visible;
            width: 1400px;
            border-top: 1px solid orange;
            padding-top: 20px;
            #content{
                display: flex;
                flex-wrap: wrap;
                justify-items: flex-start !important;
                gap: 20px;
                padding-top: 20px;
                overflow: visible;
                height: auto;
                position: relative;
                top: -10px;
                #odds{
                    position: absolute;
                    top: -65px;
                    color: whitesmoke;
                    border: 1.5px solid silver;
                    border-radius: 5px;
                    height: fit-content;
                    padding: 10px;
                    height: fit-content !important;
                    &:hover{
                        background-image: linear-gradient(to right, rgba(139, 0, 0, 0.638) , black);
                    }
                }
                #each{
                    width: 200px;
                    height: 160px;
                    border-radius: 5px;
                    padding-top: 30px;
                    #text{
                        top:0;
                        color: whitesmoke;
                    }
                    #luck{
                        span{
                            color: white;
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 10px;
                        }
                        position: absolute;
                        top:5px;
                        right: 10px;
                        display: grid;
                    }
                }
            }
        }
        #bottombanner{
            padding: 20px;
            padding-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 50px;
            img{
                position: absolute;
                left: 20px;
            }
            a{
                color: white;
                font-weight: 500;
                font-size: small;
                margin-right: 20px;
            }
            #right{
                position: absolute;
                right: 20px;
                display: flex;
                column-gap: 10px;
                span{
                    color: white;
                    font-weight: 500;
                    font-size: larger;
                }
            }
        }
        .loading{
            background-image: linear-gradient(to right, #0a0a0a 10%, #121212 55%, #0a0a0a 100%);
            background-size: 200% 100%;
            animation: gradientMovement 1s linear infinite;
            &:before, &:after{
                display: none;
            }
            &:hover{
                box-shadow: none;
            }
        }
    }
    #odds{
        height: fit-content;
        align-items: flex-start;
        border-top: 1px solid rgb(49 48 48);
        #row{
            display: grid;
            grid-template-columns: 1fr 4fr 1fr 1fr;
            padding: 10px 20px;
            align-items: center;
            height: 70px;
            img{
                object-fit: contain;
                filter: brightness(1.4);
            }
            span{
                color: whitesmoke;
            }
        }
    }
    #shinewon{
        animation: shine 2.5s infinite linear;
    }
}

@keyframes slide {
    0%{left: 0;}
    100%{left: -203.3*90px;}
}

@keyframes gradientMovement {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes shine {
    0%,100%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(1.3);
    }
}

@keyframes slidevertical {
    0%{top: 0;}
    100%{top: -200*90px;}
}