.casepage{
    #black{
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: radial-gradient(closest-side at 50% 15%,#1c0c16 0%, #070707 100%);
        z-index: -1;
    }
    &_case{
        display: grid;
        justify-items: center;
        position: relative;
        padding-top: 50px;
        h3{
            color: whitesmoke;   
            margin-bottom: 30px;  
        }
        &_kernel{
            display: grid;
            align-items: flex-start;
            width: 1400px;
            overflow: hidden;
            position: relative;
            #index{
                position: absolute;
                z-index: 99 !important;
                top:-5px;
                height: 205px;
                color: orange;
                font-size: x-large;
                display: grid;
                justify-self: center;
                text-shadow: 0 0 3px white;
                span:nth-child(1){
                    position: absolute;
                    top:0;
                }
                span:nth-child(2){
                    position: absolute;
                    bottom:0;
                }
            }
            &_spinner{
                display: flex;
                column-gap: 2px;
                justify-items: flex-start;
                width: fit-content;                
                transition: left 6s cubic-bezier(0.55, 1, 1, 1);
                position: relative;
                button{
                    width: 170px;
                    height: 190px;
                    padding-top: 20px;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    filter: brightness(1.1);
                    img{
                        filter: drop-shadow(0 0 2px gray);
                    }
                    &:hover{
                        filter: brightness(1.3);
                    }
                    #text{
                        display: grid;
                        position: relative;
                        top:-20px;
                        color: whitesmoke !important;
                        span{
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 15px;
                        }
                    }
                }
                #loading{
                    background-image: linear-gradient(to right, #071118 10%, #420c1c 55%, #071118 100%) !important;
                    background-size: 200% 100%;
                    animation: gradientMovement 1s linear infinite;
                    background-color: #e11963;
                }
            }
            #slide{
                position: relative;
                animation: slide 6s 1 forwards;
            }
        }
        &_result{
            position: absolute;
            top:40px;
            width: 900px;
            z-index: 99;
            display: grid;
            justify-items: center;
            align-items: center;
            background-color: black;
            padding-top: 10px;
            h3{
                position: absolute;
                top:-30px;
                left: 49%;
                #index{
                    height: 215px;
                    filter: brightness(1.2);
                }
            }
            #btn{
                width: 250px;
                height: 200px;
                display: grid;
                justify-items: center;
                align-items: center;
                filter: brightness(1.1);
                padding-top: 30px;
                #chance{
                    position: absolute;
                    right: 10px;
                    top:5px;
                    font-size: 12px;
                    line-height: 14px;
                    color: white;
                    text-align: center;
                    font-weight: 500;
                }
                img{
                    filter: drop-shadow(0 0 2px gray);
                }
                &:hover{
                    filter: brightness(1.3);
                }
                #text{
                    display: grid;
                    position: relative;
                    top:-20px;
                    color: whitesmoke !important;
                    span{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                    }
                }
            }
            #ops{
                padding-top: 30px;
                height: 50px;
                position: relative;
                display: flex;
                column-gap: 30px;
                button{
                    color: whitesmoke;
                    position: relative;
                    background-color: #e11963;
                    width: 150px;
                    height: 40px;
                    font-size: small;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    img{
                        filter: invert(100%);
                    }
                    &:hover{
                        filter: brightness(1.3);
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -10px;
                        border-width: 20px 10px 20px 0;
                        border-style: solid;
                        border-color: transparent #e11963 transparent transparent;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -10px;
                        border-width: 20px 10px 20px 0;
                        border-style: solid;
                        border-color: transparent #e11963 transparent transparent;
                        transform: rotate(180deg);
                    }
                }
                button:nth-child(2){
                    background-color: purple;
                    &:before{
                        border-color: transparent purple transparent transparent;
                    }
                    &:after{
                        border-color: transparent purple transparent transparent;
                    }
                }
                button:nth-child(3){
                    background-color: rgba(255, 0, 255, 0.693);
                    &:before{
                        border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
                    }
                    &:after{
                        border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
                    }
                }
            }
        }
        #actions{
            color: white;
            margin-top: 40px;
            width: 1000px;
            display: flex;
            justify-content: center;
            column-gap: 50px;
            #shaped, #shaped2{
                width: 220px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: small;
                font-weight: 500;
                button{
                    background-color: purple;
                    width: 60px;
                    height: 60px;
                    position: relative;
                    color: white;
                }
                button:nth-child(1){
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent purple transparent transparent;
                    }
                }
                button:nth-child(5){
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -15px;
                        border-width: 30px 15px 30px 0;
                        border-style: solid;
                        border-color: transparent purple transparent transparent;
                        transform: rotate(180deg);
                    }
                }
            }
            #shaped2{
                position: relative;
                background-color: #e11963;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -15px;
                    border-width: 30px 15px 30px 0;
                    border-style: solid;
                    border-color: transparent #e11963 transparent transparent;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -15px;
                    border-width: 30px 15px 30px 0;
                    border-style: solid;
                    border-color: transparent #e11963 transparent transparent;
                    transform: rotate(180deg);
                }
            }
        }
        #gifts{
            overflow: visible;
            width: 1000px;
            border-top: 1px solid orange;
            padding-top: 20px;
            #content{
                display: flex;
                flex-wrap: wrap;
                justify-items: flex-start !important;
                gap: 20px;
                padding-top: 20px;
                overflow: visible;
                height: auto;
                position: relative;
                top: -10px;
                max-width: 1000px;
                button{
                    width: 200px;
                    height: 160px;
                    border-radius: 5px;
                    padding-top: 30px;
                    #text{
                        top:0;
                        color: whitesmoke;
                    }
                    #luck{
                        span{
                            color: white;
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 10px;
                        }
                        position: absolute;
                        top:5px;
                        right: 10px;
                        display: grid;
                    }
                }
            }
        }
        #bottombanner{
            padding: 20px;
            padding-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 50px;
            img{
                position: absolute;
                left: 20px;
            }
            a{
                color: white;
                font-weight: 500;
                font-size: small;
                margin-right: 20px;
            }
            #right{
                position: absolute;
                right: 20px;
                display: flex;
                column-gap: 10px;
                span{
                    color: white;
                    font-weight: 500;
                    font-size: larger;
                }
            }
        }
    }
}

@keyframes slide {
    0%{left: 0;}
    100%{left: -172*40px;}
}

@keyframes gradientMovement {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }