.casepage #black {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(closest-side at 50% 15%, #1c0c16 0%, #070707 100%);
  z-index: -1;
}
.casepage_case {
  display: grid;
  justify-items: center;
  position: relative;
  padding-top: 50px;
}
.casepage_case h3 {
  color: whitesmoke;
  margin-bottom: 30px;
}
.casepage_case_kernel {
  display: grid;
  align-items: flex-start;
  width: 1400px;
  overflow: hidden;
  position: relative;
}
.casepage_case_kernel #index {
  position: absolute;
  z-index: 99 !important;
  top: -5px;
  height: 205px;
  color: orange;
  font-size: x-large;
  display: grid;
  justify-self: center;
  text-shadow: 0 0 3px white;
}
.casepage_case_kernel #index span:nth-child(1) {
  position: absolute;
  top: 0;
}
.casepage_case_kernel #index span:nth-child(2) {
  position: absolute;
  bottom: 0;
}
.casepage_case_kernel_spinner {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
  justify-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: left 6s cubic-bezier(0.55, 1, 1, 1);
  position: relative;
}
.casepage_case_kernel_spinner button {
  width: 170px;
  height: 190px;
  padding-top: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  filter: brightness(1.1);
}
.casepage_case_kernel_spinner button img {
  filter: drop-shadow(0 0 2px gray);
}
.casepage_case_kernel_spinner button:hover {
  filter: brightness(1.3);
}
.casepage_case_kernel_spinner button #text {
  display: grid;
  position: relative;
  top: -20px;
  color: whitesmoke !important;
}
.casepage_case_kernel_spinner button #text span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
.casepage_case_kernel_spinner #loading {
  background-image: linear-gradient(to right, #071118 10%, #420c1c 55%, #071118 100%) !important;
  background-size: 200% 100%;
  -webkit-animation: gradientMovement 1s linear infinite;
          animation: gradientMovement 1s linear infinite;
  background-color: #e11963;
}
.casepage_case_kernel #slide {
  position: relative;
  -webkit-animation: slide 6s 1 forwards;
          animation: slide 6s 1 forwards;
}
.casepage_case_result {
  position: absolute;
  top: 40px;
  width: 900px;
  z-index: 99;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  padding-top: 10px;
}
.casepage_case_result h3 {
  position: absolute;
  top: -30px;
  left: 49%;
}
.casepage_case_result h3 #index {
  height: 215px;
  filter: brightness(1.2);
}
.casepage_case_result #btn {
  width: 250px;
  height: 200px;
  display: grid;
  justify-items: center;
  align-items: center;
  filter: brightness(1.1);
  padding-top: 30px;
}
.casepage_case_result #btn #chance {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  text-align: center;
  font-weight: 500;
}
.casepage_case_result #btn img {
  filter: drop-shadow(0 0 2px gray);
}
.casepage_case_result #btn:hover {
  filter: brightness(1.3);
}
.casepage_case_result #btn #text {
  display: grid;
  position: relative;
  top: -20px;
  color: whitesmoke !important;
}
.casepage_case_result #btn #text span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
.casepage_case_result #ops {
  padding-top: 30px;
  height: 50px;
  position: relative;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.casepage_case_result #ops button {
  color: whitesmoke;
  position: relative;
  background-color: #e11963;
  width: 150px;
  height: 40px;
  font-size: small;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.casepage_case_result #ops button img {
  filter: invert(100%);
}
.casepage_case_result #ops button:hover {
  filter: brightness(1.3);
}
.casepage_case_result #ops button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-width: 20px 10px 20px 0;
  border-style: solid;
  border-color: transparent #e11963 transparent transparent;
}
.casepage_case_result #ops button:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  border-width: 20px 10px 20px 0;
  border-style: solid;
  border-color: transparent #e11963 transparent transparent;
  transform: rotate(180deg);
}
.casepage_case_result #ops button:nth-child(2) {
  background-color: purple;
}
.casepage_case_result #ops button:nth-child(2):before {
  border-color: transparent purple transparent transparent;
}
.casepage_case_result #ops button:nth-child(2):after {
  border-color: transparent purple transparent transparent;
}
.casepage_case_result #ops button:nth-child(3) {
  background-color: rgba(255, 0, 255, 0.693);
}
.casepage_case_result #ops button:nth-child(3):before {
  border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
}
.casepage_case_result #ops button:nth-child(3):after {
  border-color: transparent rgba(255, 0, 255, 0.693) transparent transparent;
}
.casepage_case #actions {
  color: white;
  margin-top: 40px;
  width: 1000px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.casepage_case #actions #shaped, .casepage_case #actions #shaped2 {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 500;
}
.casepage_case #actions #shaped button, .casepage_case #actions #shaped2 button {
  background-color: purple;
  width: 60px;
  height: 60px;
  position: relative;
  color: white;
}
.casepage_case #actions #shaped button:nth-child(1):before, .casepage_case #actions #shaped2 button:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  border-width: 30px 15px 30px 0;
  border-style: solid;
  border-color: transparent purple transparent transparent;
}
.casepage_case #actions #shaped button:nth-child(5):after, .casepage_case #actions #shaped2 button:nth-child(5):after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  border-width: 30px 15px 30px 0;
  border-style: solid;
  border-color: transparent purple transparent transparent;
  transform: rotate(180deg);
}
.casepage_case #actions #shaped2 {
  position: relative;
  background-color: #e11963;
}
.casepage_case #actions #shaped2:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  border-width: 30px 15px 30px 0;
  border-style: solid;
  border-color: transparent #e11963 transparent transparent;
}
.casepage_case #actions #shaped2:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  border-width: 30px 15px 30px 0;
  border-style: solid;
  border-color: transparent #e11963 transparent transparent;
  transform: rotate(180deg);
}
.casepage_case #gifts {
  overflow: visible;
  width: 1000px;
  border-top: 1px solid orange;
  padding-top: 20px;
}
.casepage_case #gifts #content {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start !important;
  gap: 20px;
  padding-top: 20px;
  overflow: visible;
  height: auto;
  position: relative;
  top: -10px;
  max-width: 1000px;
}
.casepage_case #gifts #content button {
  width: 200px;
  height: 160px;
  border-radius: 5px;
  padding-top: 30px;
}
.casepage_case #gifts #content button #text {
  top: 0;
  color: whitesmoke;
}
.casepage_case #gifts #content button #luck {
  position: absolute;
  top: 5px;
  right: 10px;
  display: grid;
}
.casepage_case #gifts #content button #luck span {
  color: white;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
}
.casepage_case #bottombanner {
  padding: 20px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}
.casepage_case #bottombanner img {
  position: absolute;
  left: 20px;
}
.casepage_case #bottombanner a {
  color: white;
  font-weight: 500;
  font-size: small;
  margin-right: 20px;
}
.casepage_case #bottombanner #right {
  position: absolute;
  right: 20px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.casepage_case #bottombanner #right span {
  color: white;
  font-weight: 500;
  font-size: larger;
}

@-webkit-keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -6880px;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -6880px;
  }
}
@-webkit-keyframes gradientMovement {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@keyframes gradientMovement {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}/*# sourceMappingURL=Casepage.module.css.map */