.home{
    min-height: 100vh;
    &_navbar{
        height: 100px;
        background-color: black;
        position: relative;
        display: flex;
        align-items: center;
        #profile{
            position: absolute;
            right: 20px;
            display: flex;
            align-items: center;
        }
    }
}