.home {
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 20px;
}
.home_navbar {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 40px 90px;
}
.home_navbar_top {
  padding-left: 40px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.home_navbar_top #each {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: small;
}
.home_navbar_top #each #dot {
  font-size: xx-large;
  color: #00bc3e;
}
.home_navbar_bottom {
  position: relative;
  background-color: #061118;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.home_navbar_bottom input {
  margin-left: 50px;
  background-color: #0b1720;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  width: 300px;
  color: whitesmoke;
}
.home_navbar_bottom input::-moz-placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.home_navbar_bottom input:-ms-input-placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.home_navbar_bottom input::placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.home_navbar_bottom #profile {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-left: 20px;
  background: transparent;
  border: none;
  height: 60px;
  border-left: 1px solid #102631;
  width: 180px;
}
.home_navbar_bottom #profile input {
  position: absolute;
  opacity: 0;
}
.home_navbar_bottom #profile input:checked ~ #dropdown {
  display: block;
}
.home_navbar_bottom #profile label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.home_navbar_bottom #profile span {
  color: orange;
  font-size: 15px;
  line-height: 20px;
}
.home_navbar_bottom #profile img {
  border-radius: 50%;
  filter: drop-shadow(0 0 2px whitesmoke);
}
.home_navbar_bottom #profile #dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  background: #061118;
  overflow: hidden;
  width: calc(100% + 40px);
  -webkit-animation: drop 0.5s 1;
          animation: drop 0.5s 1;
  padding: 10px;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  height: 100px;
  opacity: 1;
  z-index: 999;
}
.home_navbar_bottom #profile #dropdown div {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
}
.home_navbar_bottom #profile #dropdown div:hover img {
  filter: grayscale(0);
}
.home_navbar_bottom #profile #dropdown div:hover span {
  color: gold !important;
}
.home_navbar_bottom #profile #dropdown div img {
  filter: grayscale(90%);
}
.home_navbar_bottom #profile #dropdown div span {
  color: whitesmoke !important;
  font-weight: bold;
}
.home_navbar_bottom #deposit {
  position: absolute;
  width: 150px;
  right: 220px;
  background: #008754;
  font-weight: bold;
  color: whitesmoke;
  padding: 7px 0;
  border-radius: 7px;
  transition: filter 0.3s ease;
}
.home_navbar_bottom #deposit:hover {
  filter: brightness(1.5);
}
.home_navbar_tabs {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.home_navbar_tabs_kernel {
  width: 1060px;
  height: 40px;
  background-color: #061118;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  position: relative;
}
.home_navbar_tabs_kernel #join {
  background-color: #c90022;
  color: whitesmoke;
  border-radius: inherit;
  padding: 5px 20px;
  transition: filter 0.3s ease;
}
.home_navbar_tabs_kernel #join:hover {
  filter: brightness(1.5);
}
.home_navbar_tabs_kernel #right {
  position: absolute;
  right: 20px;
  border: 2px solid black;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.home_navbar_tabs_kernel #right button {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: whitesmoke;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
.home_navbar_tabs_kernel #right button img {
  filter: invert(100%);
}
.home_navbar_tabs_kernel #right button:hover {
  color: crimson;
  box-shadow: 0 0 2px 1px crimson;
}
.home_navbar_slider {
  display: flex;
  padding: 5px 0;
  overflow: hidden;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.home_navbar_slider button {
  height: 100px;
  width: 100px !important;
  color: whitesmoke;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  filter: brightness(1.1);
}
.home_navbar_slider button img {
  filter: drop-shadow(0 0 2px gray);
}
.home_navbar_slider button:hover {
  filter: brightness(1.3);
}
.home_navbar_slider button #text {
  display: grid;
  position: relative;
  top: -5px;
}
.home_navbar_slider button #text span {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}
.home_cases {
  display: grid;
  justify-items: center;
  overflow: hidden;
}
.home_cases_kernel {
  padding-top: 30px;
  color: whitesmoke !important;
}
.home_cases_kernel_group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding-top: 10px;
}
.home_cases_kernel_group_each {
  width: 200px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
}
.home_cases_kernel_group_each img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.home_cases_kernel_group_each h5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
}
.home_cases_kernel_group_each:hover {
  box-shadow: 0 0 5px 1px silver;
  filter: brightness(1.3);
}
.home_cases_kernel_group #placeholder {
  background-image: linear-gradient(to right, #071118 10%, #420c1c 55%, #071118 100%);
  background-size: 200% 100%;
  -webkit-animation: gradientMovement 1s linear infinite;
          animation: gradientMovement 1s linear infinite;
}
.home_modal {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: grid;
  justify-content: center;
  align-items: center;
}
.home_modal_kernel {
  width: 600px;
  height: 250px;
  background-color: #141414;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  filter: brightness(1.1);
  display: grid;
  -webkit-animation: hop 0.6s 1;
          animation: hop 0.6s 1;
}
.home_modal_kernel #close {
  position: absolute;
  top: 0;
  right: 20px;
  color: whitesmoke;
  font-size: large;
}
.home_modal_kernel #row1 {
  background-image: linear-gradient(to right, #141414, #00a862);
  height: 100px;
  border-radius: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.home_modal_kernel #row1 img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.home_modal_kernel #row1 #right {
  right: 20px;
  width: 250px;
  text-align: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: whitesmoke;
  position: relative;
  top: 5px;
  right: 30px;
}
.home_modal_kernel #row1 #right span {
  font-size: small;
}
.home_modal_kernel #row1 #right #bottom {
  position: relative;
  top: -5px;
}
.home_modal_kernel #row2 {
  height: 45px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: inherit;
}
.home_modal_kernel #row2 input {
  height: 100%;
  width: 70%;
  background-color: black;
  padding-left: 10px;
  border-radius: inherit;
  outline: none;
  border: none;
  color: silver;
}
.home_modal_kernel #row2 button {
  background-color: #00a862;
  width: 30%;
  height: 100%;
  font-weight: bold;
  border-radius: inherit;
  color: whitesmoke;
  font-size: large;
  padding-left: 30px;
}

@-webkit-keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px;
    opacity: 1;
  }
}

@keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px;
    opacity: 1;
  }
}
@-webkit-keyframes hop {
  from {
    left: -300px;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes hop {
  from {
    left: -300px;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes gradientMovement {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@keyframes gradientMovement {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}/*# sourceMappingURL=Home.module.css.map */