.panel {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  padding-top: 10%;
  background-image: radial-gradient(closest-side at 50% 15%, #1c0c16 0%, #070707 100%);
}
.panel_kernel {
  width: 1200px;
  min-height: 300px;
  position: relative;
  padding-top: 30px;
}
.panel_kernel_tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 22 !important;
  position: absolute;
  width: 100%;
  top: 0;
}
.panel_kernel_tabs button {
  color: white;
  padding: 10px;
  position: relative;
  display: grid;
  background-color: navy;
  font-size: medium;
}
.panel_kernel_tabs button span {
  position: absolute;
  display: grid;
  justify-self: center;
  bottom: -30px;
  font-size: larger;
  -webkit-animation: later 0.3s 1 forwards;
          animation: later 0.3s 1 forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  visibility: hidden;
}
.panel_kernel #useractions {
  min-height: 200px;
  width: 100%;
  padding: 30px 0;
  padding-top: 50px;
  -webkit-animation: drop 0.6s 1;
          animation: drop 0.6s 1;
  position: relative;
  z-index: 1 !important;
}
.panel_kernel #useractions #showall {
  background-color: navy;
  color: whitesmoke;
  padding: 10px 20px;
  width: 33.33%;
  height: 100px;
}
.panel_kernel #activeusers {
  color: white;
  position: relative;
  top: 50px;
  background-color: rgba(0, 0, 128, 0.432);
}
.panel_kernel #activeusers #user {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 130px 100px;
  padding: 5px;
  border-bottom: 1px solid navy;
}
.panel_kernel #activeusers #user button {
  display: flex;
  justify-content: flex-start;
  color: yellow;
  width: 30px;
  background-image: url("/suitcase.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  filter: invert(100%);
}
.panel_kernel #activeusers #user #log {
  background-image: url("/log.png") !important;
}
.panel_kernel #coupons {
  color: white;
  position: relative;
  top: 50px;
  padding: 10px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.panel_kernel #coupons input {
  outline: none;
  padding: 5px;
  height: 45px;
}
.panel_kernel #coupons input::-moz-placeholder {
  color: navy;
}
.panel_kernel #coupons input:-ms-input-placeholder {
  color: navy;
}
.panel_kernel #coupons input::placeholder {
  color: navy;
}
.panel_kernel #coupons input:nth-child(1) {
  width: calc(50% - 5px);
}
.panel_kernel #coupons input:nth-child(2) {
  width: calc(50% - 5px);
}
.panel_kernel #coupons input:nth-child(3) {
  width: calc(50% - 5px);
}
.panel_kernel #coupons input:nth-child(4) {
  width: calc(50% - 5px);
}
.panel_kernel #coupons #options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: relative;
}
.panel_kernel #coupons #options #showcoupons {
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: medium;
  padding: 10px;
}
.panel_kernel #coupons #options span {
  position: absolute;
  display: none;
  right: 25%;
  top: 50px;
  color: darkorange;
}
.panel_kernel #coupons #options label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  cursor: pointer;
}
.panel_kernel #coupons #options input[type=checkbox] {
  visibility: hidden;
}
.panel_kernel #coupons #options input:checked ~ #createcoupon {
  display: block;
}
.panel_kernel #coupons #options input:checked ~ #allcoupons {
  display: none;
}
.panel_kernel #coupons #options input:checked ~ span {
  display: block;
}
.panel_kernel #coupons #options input:checked ~ label {
  color: red;
}
.panel_kernel #coupons #options #createcoupon {
  position: absolute;
  display: none;
  top: 80px;
  width: 100%;
  padding: 10px;
  padding-right: 25%;
  background-color: navy;
}
.panel_kernel #coupons #options #createcoupon button {
  width: calc(25% - 10px);
  height: 95px;
  background-color: darkorange;
  color: white;
  position: absolute;
  right: 10px;
  font-weight: bold;
  top: 10px;
}
.panel_kernel #coupons #options #createcoupon input {
  height: 45px;
  margin-bottom: 5px;
}
.panel_kernel #coupons #options #allcoupons {
  position: absolute;
  top: 80px;
  width: 100%;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 128, 0.432);
}
.panel_kernel #coupons #options #allcoupons #each {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 50px 50px;
  border-bottom: 1px solid navy;
  padding: 5px;
  position: relative;
}
.panel_kernel #coupons #options #allcoupons #each #anchor {
  color: darkorange;
  position: absolute;
  top: -35px;
  left: 25%;
}
.panel_kernel #coupons #options #allcoupons #each button {
  color: white;
}
.panel_kernel #coupons input:checked ~ #createcase {
  display: block;
}
.panel_kernel #coupons #createcase {
  position: absolute;
  display: none;
  top: 80px;
  width: 100%;
  padding: 10px;
  padding-right: 25%;
  background-color: navy;
  padding-right: 10px;
  padding-bottom: 30px;
}
.panel_kernel #coupons #createcase #caseoptions {
  height: 100px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 30px;
}
.panel_kernel #coupons #createcase #caseoptions p {
  font-size: small;
  color: orange;
}
.panel_kernel #coupons #createcase #caseoptions #name_cat {
  width: 200px;
}
.panel_kernel #coupons #createcase #caseoptions button {
  background-color: gray;
  width: 200px;
  height: calc(100% + 10px);
  color: white;
  font-size: large;
  font-weight: 500;
  filter: brightness(1.1);
  position: relative;
}
.panel_kernel #coupons #createcase #caseoptions button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.panel_kernel #coupons #createcase #caseoptions #addgift {
  width: 200px;
  height: 45px;
  position: absolute;
  right: 25px;
  top: 30px;
  background-color: darkorange;
  color: black;
  font-weight: 500;
}
.panel_kernel #coupons #createcase #caseoptions #caseindex {
  position: absolute;
  top: 85px;
  right: 25px;
  width: 200px;
}
.panel_kernel #coupons #createcase #caseoptions input, .panel_kernel #coupons #createcase #caseoptions select {
  height: 30px;
  width: 285px;
  outline: none;
  color: navy;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 5px;
}
.panel_kernel #coupons #createcase #caseoptions select {
  color: navy;
  border: none;
  padding-left: 0;
}
.panel_kernel #coupons #createcase #gifts {
  position: relative;
}
.panel_kernel #coupons #createcase #gifts #titles {
  display: flex;
  padding-left: 60px;
  padding-right: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.panel_kernel #coupons #createcase #gifts #titles p {
  width: 100%;
  font-size: small;
  font-weight: 500;
  color: orange;
}
.panel_kernel #coupons #createcase #gifts .gift {
  height: 45px;
  padding: 5px 10px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.panel_kernel #coupons #createcase #gifts .gift button {
  height: 100%;
  position: relative;
}
.panel_kernel #coupons #createcase #gifts .gift button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer !important;
}
.panel_kernel #coupons #createcase #gifts .gift img {
  filter: brightness(1.4);
}
.panel_kernel #coupons #createcase #gifts .gift input {
  height: 30px !important;
  width: 100%;
  padding-left: 10px;
}
.panel_kernel #coupons #createcase #gifts .actions {
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: -120px;
  padding: 10px;
}
.panel_kernel #coupons #createcase #gifts .actions_double {
  display: flex;
  position: relative;
  min-height: 25px;
  padding-left: 60px;
}
.panel_kernel #coupons #createcase #gifts .actions_double input {
  height: 30px;
  width: 200px;
}
.panel_kernel #coupons #createcase #gifts .actions_double p {
  font-size: small;
  font-weight: 500;
}
.panel_kernel #coupons #createcase #gifts .actions_double p:nth-child(1) {
  position: absolute;
  right: 10px;
  top: 0;
  color: whitesmoke;
}
.panel_kernel #coupons #createcase #gifts .actions_double button {
  background-color: darkorange;
  position: absolute;
  right: 10px;
  display: grid;
  align-self: center;
  padding: 5px 25px;
}
.panel_kernel #coupons #listcases {
  position: absolute;
  top: 80px;
  width: 100%;
  min-height: 250px;
  padding: 20px;
  padding-bottom: 30px;
}
.panel_kernel #coupons #listcases #titles {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 100px 100px 100px 100px 50px 50px;
  padding-bottom: 10px;
}
.panel_kernel #coupons #listcases #allcases {
  display: grid;
  gap: 20px;
}
.panel_kernel #coupons #listcases #allcases #eachcase {
  display: grid;
  align-items: center;
  position: relative;
  border-bottom: 1px solid navy;
}
.panel_kernel #coupons #listcases #allcases #eachcase #casevalues {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 100px 100px 100px 100px 50px 50px;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 500;
  color: darkorange;
}
.panel_kernel #inventory {
  max-height: 600px;
  overflow-y: scroll;
  display: grid;
  row-gap: 5px;
  align-items: center;
  scrollbar-width: none;
}
.panel_kernel #inventory::-webkit-scrollbar {
  display: none;
}
.panel_kernel #inventory #each {
  border-bottom: 1px solid silver;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 80px;
}
.panel_kernel #inventory #each button {
  color: white;
  background-color: crimson;
  border-radius: 5px;
}
.panel_kernel #inventory h2, .panel_kernel #inventory span {
  color: white;
}
.panel_kernel #inventory span:nth-child(1) {
  color: orange;
}
.panel_kernel #inventory span:nth-child(2) {
  color: lightgreen;
}

@-webkit-keyframes drop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes drop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes later {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes later {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}/*# sourceMappingURL=Panel.module.css.map */