.profile {
  background-image: radial-gradient(closest-side at 50% 15%, #1c0c16 0%, #070707 100%);
  display: grid;
  justify-items: center;
}
.profile #black {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(closest-side at 50% 15%, #1c0c16 0%, #070707 100%);
  z-index: -1;
}
.profile_kernel {
  width: 1400px;
  padding-top: 40px;
  display: grid;
  row-gap: 30px;
}
.profile_kernel_card {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  border-radius: 10px;
  filter: brightness(1.2);
  padding: 20px;
}
.profile_kernel_card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  filter: drop-shadow(0 0 4px gray);
}
.profile_kernel_card #info {
  color: white;
}
.profile_kernel_card #info h3 {
  font-size: larger;
}
.profile_kernel_card #info h4 {
  color: orange;
  font-size: larger;
}
.profile_kernel_line {
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: white;
  font-size: small;
  font-weight: bolder;
  background-image: linear-gradient(to right, #071118 30%, #4d0f22 60%, #071118 100%);
  filter: brightness(1.2);
}
.profile_kernel_line span {
  border-bottom: 2px solid orange;
  filter: brightness(1.1);
}
.profile_kernel_inventory {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 1400px;
  overflow: hidden;
  gap: 10px;
  overflow: visible;
  position: relative;
  top: -10px;
}
.profile_kernel_inventory button {
  height: 200px;
  border-radius: 5px;
  padding-top: 20px;
  background-color: #071118;
  position: relative;
  box-shadow: 0 -1px 2px 1px #323131;
}
.profile_kernel_inventory button:hover {
  filter: brightness(1.5);
  box-shadow: inset 0 1px 2px 1px #323131;
}
.profile_kernel_inventory button #text {
  position: relative;
  top: 5px;
  color: whitesmoke;
  font-size: 11px;
  line-height: 15px;
  font-weight: 500;
  display: grid;
}
.profile_kernel_inventory button #text #shine {
  -webkit-animation: shine 0.8s infinite;
          animation: shine 0.8s infinite;
  font-size: 14px;
}
.profile_kernel_inventory button #act {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}
.profile_kernel_inventory button #act #dollar {
  font-weight: 400;
  line-height: 10px;
  background-color: darkgreen;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: medium;
  width: 20px;
  height: 20px;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  z-index: 9 !important;
}
.profile_kernel_inventory button #act #sell {
  background-color: darkgreen;
  height: 20px;
  padding: 0 15px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  border: none;
  visibility: hidden;
  transition: visibility 0.2s ease;
  position: relative;
  left: -10px;
  z-index: 3;
  box-shadow: none !important;
}
.profile_kernel_inventory button #act #sell:hover {
  filter: none !important;
}
.profile_kernel_inventory button #act #sell:after {
  content: "";
  position: absolute;
  top: 0;
  right: -4px;
  border-width: 10px 6px 10px 0;
  border-style: solid;
  border-color: transparent darkgreen transparent transparent;
  transform: rotate(180deg);
}
.profile_kernel_inventory button #act:hover #sell {
  visibility: visible !important;
}
.profile_kernel_inventory h1 {
  color: #7b1533;
  width: 1000px;
  text-align: center;
  filter: drop-shadow(0 -1px 2px white) brightness(1.5);
}

@-webkit-keyframes shine {
  0% {
    color: white;
  }
  50% {
    color: #7b1533;
  }
  100% {
    color: white;
  }
}

@keyframes shine {
  0% {
    color: white;
  }
  50% {
    color: #7b1533;
  }
  100% {
    color: white;
  }
}/*# sourceMappingURL=Profile.module.css.map */