.wrapper {
  background-color: black;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 90px;
  min-height: 100vh;
}
.wrapper_navbar {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-rows: 40px 90px;
  max-width: 100vw;
}
.wrapper_navbar_top {
  padding-left: 40px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.wrapper_navbar_top #each {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: small;
}
.wrapper_navbar_top #each #dot {
  font-size: xx-large;
  color: #00bc3e;
}
.wrapper_navbar_top #right {
  position: absolute;
  right: 40px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.wrapper_navbar_top #right img {
  height: 25px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(100%);
}
.wrapper_navbar_bottom {
  position: relative;
  background-color: #061118;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  width: 100vw !important;
}
.wrapper_navbar_bottom input {
  margin-left: 50px;
  background-color: #0b1720;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  width: 300px;
  color: whitesmoke;
}
.wrapper_navbar_bottom input::-moz-placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.wrapper_navbar_bottom input:-ms-input-placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.wrapper_navbar_bottom input::placeholder {
  color: rgba(64, 224, 208, 0.517);
}
.wrapper_navbar_bottom #found {
  position: relative;
  font-size: small;
  left: -100px;
  filter: brightness(1.2);
}
.wrapper_navbar_bottom #searchdrop {
  width: 450px;
  background-color: #0b1720;
  position: absolute;
  left: 180px;
  top: 70px;
  z-index: 99999 !important;
  padding: 10px;
  display: grid;
  row-gap: 10px;
  filter: brightness(1.1);
}
.wrapper_navbar_bottom #searchdrop button {
  color: whitesmoke;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: #0b1720;
  filter: brightness(1.3);
  text-align: left;
}
.wrapper_navbar_bottom #profile {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-left: 20px;
  background: transparent;
  border: none;
  height: 60px;
  border-left: 1px solid #102631;
  width: 180px;
}
.wrapper_navbar_bottom #profile #cash p {
  color: orange;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  line-height: 12px;
  height: 18px;
}
.wrapper_navbar_bottom #profile #cash span {
  line-height: 12px;
  font-size: 14px;
  font-weight: 600;
}
.wrapper_navbar_bottom #profile #cash img {
  filter: none !important;
}
.wrapper_navbar_bottom #profile input {
  position: absolute;
  opacity: 0;
}
.wrapper_navbar_bottom #profile input:checked ~ #dropdown {
  display: block;
}
.wrapper_navbar_bottom #profile label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.wrapper_navbar_bottom #profile span {
  color: orange;
  font-size: 15px;
  line-height: 20px;
}
.wrapper_navbar_bottom #profile #signin {
  color: whitesmoke;
  font-size: 12px;
  line-height: 20px;
  border-radius: 7px;
  background-color: #3E4FC2;
  padding: 7px 10px;
  font-weight: 600;
}
.wrapper_navbar_bottom #profile img {
  border-radius: 50%;
  filter: drop-shadow(0 0 2px whitesmoke);
}
.wrapper_navbar_bottom #profile #dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  background: #061118;
  overflow: hidden;
  width: calc(100% + 40px);
  -webkit-animation: drop 0.5s 1;
          animation: drop 0.5s 1;
  padding: 10px;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  height: 100px;
  opacity: 1;
  z-index: 999;
}
.wrapper_navbar_bottom #profile #dropdown div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
}
.wrapper_navbar_bottom #profile #dropdown div:hover span {
  color: gold !important;
}
.wrapper_navbar_bottom #profile #dropdown div img {
  filter: invert(100%);
}
.wrapper_navbar_bottom #profile #dropdown div span {
  color: whitesmoke !important;
  font-weight: 600;
  font-size: small;
}
.wrapper_navbar_bottom #deposit {
  position: absolute;
  width: 150px;
  right: 250px;
  background: #008754;
  font-weight: bold;
  color: whitesmoke;
  padding: 7px 0;
  border-radius: 7px;
  transition: filter 0.3s ease;
}
.wrapper_navbar_bottom #deposit:hover {
  filter: brightness(1.5);
}
.wrapper_navbar_tabs {
  display: flex;
  justify-content: center;
  width: 1260px;
  height: 50px;
  position: relative;
  position: relative;
  left: calc((100vw - 1260px) / 2);
  background-image: linear-gradient(to left, #121212, #080b10);
  border-radius: 10px;
}
.wrapper_navbar_tabs_kernel {
  width: 1260px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 0;
  position: relative;
}
.wrapper_navbar_tabs_kernel #join {
  background-color: #b81d2b;
  color: whitesmoke;
  border-radius: inherit;
  padding: 5px 20px;
  margin-left: 20px;
  transition: filter 0.3s ease;
}
.wrapper_navbar_tabs_kernel #join:hover {
  filter: brightness(1.5);
}
.wrapper_navbar_tabs_kernel #right {
  position: absolute;
  right: 20px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.wrapper_navbar_tabs_kernel #right button {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  color: whitesmoke;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 10px;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
.wrapper_navbar_tabs_kernel #right button img {
  filter: invert(100%);
}
.wrapper_navbar_tabs_kernel #right button:hover {
  color: crimson;
}
.wrapper_navbar_slider {
  display: flex;
  justify-items: flex-end;
  overflow: hidden;
  -moz-column-gap: 1px;
       column-gap: 1px;
  transition: width 1s ease;
  margin-bottom: 15px;
}
.wrapper_navbar_slider #usual {
  height: 110px;
  width: 110px !important;
  color: whitesmoke;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  filter: brightness(1.1);
}
.wrapper_navbar_slider #usual img {
  filter: drop-shadow(0 0 2px gray);
}
.wrapper_navbar_slider #usual:hover {
  filter: brightness(1.3);
}
.wrapper_navbar_slider #usual #text {
  display: grid;
  position: relative;
  top: -5px;
}
.wrapper_navbar_slider #usual #text span {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}
.wrapper_navbar_slider input {
  display: none;
  z-index: -1;
}
.wrapper_navbar_slider #drop {
  position: relative;
  -webkit-animation: hop 0.3s 1 forwards;
          animation: hop 0.3s 1 forwards;
  color: whitesmoke;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
  width: 110px;
  top: -30px;
}
.wrapper_navbar_slider #drop img {
  filter: drop-shadow(0 0 2px gray);
}
.wrapper_navbar_slider #drop:hover {
  filter: brightness(1.3);
}
.wrapper_navbar_slider #drop #text {
  display: grid;
  position: relative;
  top: -5px;
}
.wrapper_navbar_slider #drop #text span {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}
.wrapper_navbar_slider #placeholder {
  background-image: linear-gradient(to right, #0a0a0a 10%, #121212 55%, #0a0a0a 100%);
  background-size: 200% 100%;
  -webkit-animation: gradientMovement 1s linear infinite;
          animation: gradientMovement 1s linear infinite;
}
.wrapper_navbar_slider #placeholder:hover {
  box-shadow: none;
}
.wrapper_modal {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  display: grid;
  justify-content: center;
  align-items: center;
}
.wrapper_modal_kernel {
  width: 800px;
  background-color: #141414;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  filter: brightness(1.1);
  display: grid;
  justify-content: center;
  row-gap: 10px;
  -webkit-animation: hop 0.6s 1;
          animation: hop 0.6s 1;
}
.wrapper_modal_kernel #close {
  position: absolute;
  top: 0;
  right: 20px;
  color: whitesmoke;
  font-size: large;
}
.wrapper_modal_kernel #row1, .wrapper_modal_kernel #row2, .wrapper_modal_kernel #rowmid {
  width: 680px;
}
.wrapper_modal_kernel #row1 {
  background-image: linear-gradient(to right, #141414, #00a862);
  height: 100px;
  border-radius: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.wrapper_modal_kernel #row1 img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.wrapper_modal_kernel #row1 #right {
  right: 20px;
  width: 250px;
  text-align: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: whitesmoke;
  position: relative;
  top: 5px;
  right: 30px;
}
.wrapper_modal_kernel #row1 #right span {
  font-size: small;
}
.wrapper_modal_kernel #row1 #right #bottom {
  position: relative;
  top: -5px;
}
.wrapper_modal_kernel #row2 {
  height: 45px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: inherit;
  position: relative;
}
.wrapper_modal_kernel #row2 input {
  height: 100%;
  width: 70%;
  background-color: black;
  padding-left: 10px;
  border-radius: inherit;
  outline: none;
  border: none;
  color: silver;
}
.wrapper_modal_kernel #row2 button {
  background-color: #00a862;
  width: 30%;
  height: 100%;
  font-weight: bold;
  border-radius: inherit;
  color: whitesmoke;
  font-size: large;
}
.wrapper_modal_kernel #row2 button:hover {
  filter: brightness(1.2);
  color: whitesmoke;
}
.wrapper_modal_kernel #row2 #text {
  position: absolute;
  bottom: -30px;
  color: white;
  font-size: small;
  padding-left: 10px;
}
.wrapper_modal_kernel #rowmid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 25px 30px;
  gap: 15px;
}
.wrapper_modal_kernel #rowmid button {
  box-shadow: 0 0 2px 1px rgb(58, 58, 58);
  border-radius: 5px;
  color: silver;
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
  font-size: 12px;
  cursor: not-allowed;
}
.wrapper_modal_kernel #rowmid button span {
  position: absolute;
  right: 10px;
  background-color: #515151;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 11px;
}
.wrapper_modal_kernel #rowmid button:nth-child(1) {
  color: white;
}
.wrapper_modal_kernel #rowmid #selected {
  background-color: rgba(255, 165, 0, 0.5);
  box-shadow: 0 0 2px 1px orange;
}

.contract {
  display: grid;
  justify-content: center;
  align-items: center;
}
.contract_kernel {
  width: 1400px;
  height: 400px;
}
.contract_kernel_title {
  height: 100px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.contract_kernel_title h2 {
  color: whitesmoke;
}
.contract_kernel_title img {
  filter: brightness(1.5);
}
.contract_kernel p {
  color: whitesmoke;
  margin-bottom: 15px;
}
.contract_kernel ul li {
  color: whitesmoke;
  margin-left: 15px;
}
.contract_kernel ul {
  margin-bottom: 15px;
}

#logg {
  height: 325px;
  position: relative;
  padding-top: 65px;
}

#logg #mad {
  position: absolute;
  top: -110px;
}

#logg #head {
  height: 90px;
  width: 400px;
  left: -30px;
  background-color: #08161F;
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logg #head h3 {
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  position: relative;
  right: 20px;
}

#logg #each {
  border: 1px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#logg #each span {
  font-size: 13px;
  color: white;
  font-weight: 500;
}

#logg #each #soon {
  position: absolute;
  right: 20px;
  color: silver;
  background-color: gray;
  border-radius: 5px;
  font-size: 11px;
  padding: 1px 5px;
}

#bottombanner {
  background-color: #061118;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  position: relative;
}
#bottombanner #shell {
  width: 1400px;
  position: relative;
  display: flex;
  align-items: center;
}
#bottombanner #shell #leftcol {
  display: grid;
  width: 200px;
  height: 220px;
  padding: 45px 0;
  padding-top: 30px;
  position: relative;
}
#bottombanner #shell #leftcol a {
  color: white;
  font-weight: 600;
  font-size: 13px;
  margin-right: 20px;
}
#bottombanner #shell #leftcol #icons {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#bottombanner #shell #leftcol #icons img {
  filter: invert(100%);
  cursor: pointer;
}
#bottombanner #shell #rightcol {
  background-color: #091722;
  width: 1150px;
  height: 220px;
  position: relative;
  border-radius: 20px;
  padding-right: 300px;
}
#bottombanner #shell #rightcol #center {
  width: 500px;
  height: 100px;
  left: 150px;
  position: absolute;
  top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#bottombanner #shell #rightcol #center #each {
  display: grid;
  align-self: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: white;
}
#bottombanner #shell #rightcol #mad {
  position: absolute;
  right: 20px;
  bottom: 0;
}
#bottombanner #shell #rightcol #ops {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 800px;
  background-color: rgba(14, 31, 41, 0.8);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#bottombanner #shell #rightcol #ops #each {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 10px;
}
#bottombanner #shell #rightcol #ops #each span {
  color: white;
  font-size: 13px;
  font-weight: 500;
}
#bottombanner #lowest {
  position: absolute;
  bottom: 5px;
  height: 25px;
  width: 1400px;
  color: white;
  font-size: 11px;
  font-weight: 500;
}
#bottombanner #lowest span {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.widget {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 999999;
}
.widget_kernel {
  position: relative;
  background-color: #ffc107;
  box-shadow: 0 0 4px 2px black;
  width: 300px;
  height: 60px;
  -webkit-animation: widget 2s 1 linear;
          animation: widget 2s 1 linear;
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}

#desktoponly {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(closest-side at center, #1c0c16 0%, #070707 100%);
  z-index: 9999999999;
  display: none;
}
#desktoponly #kernel {
  display: grid;
  justify-items: center;
  position: relative;
  top: -50px;
}
#desktoponly #kernel h1 {
  color: white;
  font-weight: 500;
  font-size: larger;
}
#desktoponly #kernel #double {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
#desktoponly #kernel #double #each {
  display: grid;
  justify-items: center;
  color: whitesmoke;
}
#desktoponly #kernel #double #each img {
  height: 30px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  filter: invert(100%);
}

@media (max-width: 575.98px) {
  #desktoponly {
    display: grid !important;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
}
@-webkit-keyframes widget {
  0% {
    right: -300px;
  }
  30% {
    right: 0;
  }
  100% {
    right: 0;
  }
}
@keyframes widget {
  0% {
    right: -300px;
  }
  30% {
    right: 0;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes hop {
  0% {
    filter: brightness(1.8);
    top: -30px;
  }
  100% {
    filter: brightness(1.1);
    top: 0;
  }
}
@keyframes hop {
  0% {
    filter: brightness(1.8);
    top: -30px;
  }
  100% {
    filter: brightness(1.1);
    top: 0;
  }
}
@-webkit-keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px;
    opacity: 1;
  }
}
@keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px;
    opacity: 1;
  }
}/*# sourceMappingURL=Wrapper1.module.css.map */
