.wrapper{
    background-color: black;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    padding-bottom: 90px;
    min-height: 100vh;
    &_navbar{
        position: relative;
        display: grid;
        align-items: center;
        grid-template-rows: 40px 90px;
        //overflow: hidden;
        max-width: 100vw;
        &_top{
            padding-left: 40px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            #each{
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: whitesmoke;
                font-weight: bold;
                font-size: small;
                #dot{
                    font-size: xx-large;
                    color: #00bc3e;
                }
            }
            #right{
                position: absolute;
                right: 40px;
                display: flex;
                column-gap: 10px;
                img{
                    height: 25px;
                    width: auto;
                    object-fit: contain;
                    filter: invert(100%);
                }
            }
        }
        &_bottom{
            position: relative;
            background-color: #061118;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 0 40px;
            width: 100vw !important;
            input{
                margin-left: 50px;
                background-color: #0b1720;
                padding: 10px; padding-left: 20px;
                font-size: 14px;
                outline: none;
                border: none;
                width: 300px;
                color: whitesmoke;
                &::placeholder{
                    color: rgba(64, 224, 208, 0.517);
                }
            }
            #found{
                position: relative;
                font-size: small;
                left: -100px;
                filter: brightness(1.2);
            }
            #searchdrop{
                width: 450px;
                background-color: #0b1720;
                position: absolute;
                left: 180px;
                top:70px;
                z-index: 99999 !important;
                padding: 10px;
                display: grid;
                row-gap: 10px;
                filter: brightness(1.1);
                button{
                    color: whitesmoke;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50px 1fr 50px;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 20px;
                    background-color: #0b1720;
                    filter: brightness(1.3);
                    text-align: left;
                }
            }
            #profile{
                position: absolute;
                right: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                padding-left: 20px;
                background: transparent;
                border: none;
                height: 60px;
                border-left: 1px solid #102631;
                width: 180px;
                #cash{
                    p{
                        color: orange;
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        line-height: 12px;
                        height: 18px;
                    }
                    span{
                        line-height: 12px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    img{
                        filter: none !important;
                    }
                }
                input{
                    position: absolute;
                    opacity: 0;
                }
                input:checked ~ #dropdown{
                    display: block;
                }
                label{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 999;
                }
                span{
                    color: orange;
                    font-size: 15px;
                    line-height: 20px;
                }
                #signin{
                    color: whitesmoke;
                    font-size: 12px;
                    line-height: 20px;
                    border-radius: 7px;
                    background-color: #3E4FC2;
                    padding: 7px 10px;
                    font-weight: 600;
                }
                img{
                    border-radius: 50%;
                    filter: drop-shadow(0 0 2px whitesmoke);
                }
                #dropdown{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 80px;
                    background: #061118;
                    overflow: hidden;
                    width: calc(100% + 40px);
                    animation: drop 0.5s 1;
                    padding: 10px;
                    animation-timing-function: ease;
                    height: 100px;
                    opacity: 1;
                    z-index: 999;
                    div{
                        width: 100%;
                        padding: 10px;
                        display: flex;
                        align-items: flex-end;
                        column-gap: 10px;
                        cursor: pointer;
                        &:hover{
                            span{
                                color: gold !important;
                            }
                        }
                        img{
                            filter: invert(100%);
                        }
                        span{
                            color: whitesmoke !important;
                            font-weight: 600;
                            font-size: small;
                        }
                    }
                }
            }
            #deposit{
                position: absolute;
                width: 150px;
                right: 250px;
                background: #008754;
                font-weight: bold;
                color: whitesmoke;
                padding: 7px 0;
                border-radius: 7px;
                transition: filter 0.3s ease;
                &:hover{
                    filter: brightness(1.5);
                }
            }

        }
        &_tabs{
            display: flex;
            justify-content: center;
            width: 1260px;
            height: 50px;
            position: relative;
            position: relative;
            left: calc((100vw - 1260px)/2);
            background-image: linear-gradient(to left,#121212, #080b10);
            border-radius: 10px;
            &_kernel{
                width: 1260px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding-right: 0;
                position: relative;
                #join{
                    background-color: #b81d2b;
                    color: whitesmoke;
                    border-radius: inherit;
                    padding: 5px 20px;
                    margin-left: 20px;
                    transition: filter 0.3s ease;
                    &:hover{
                        filter: brightness(1.5);
                    }
                }
                #right{
                    position: absolute;
                    right: 20px;
                    display: flex;
                    column-gap: 40px;
                    button{
                        display: flex;
                        column-gap: 5px;
                        color: whitesmoke;
                        font-weight: 500;
                        font-size: 12px;
                        padding: 5px 10px;
                        transition: color 0.3s ease, box-shadow 0.3s ease;
                        img{
                            filter: invert(100%);
                        }
                        &:hover{
                            color: crimson;
                        }
                    }
                }
            }
        }
        &_slider{
            display: flex;
            justify-items: flex-end;
            overflow: hidden;
            column-gap: 1px;
            transition: width 1s ease;
            margin-bottom: 15px;
            #usual{
                height: 110px;
                width: 110px !important;
                color:whitesmoke;
                display: grid;
                grid-template-rows: 2fr 1fr;
                justify-items: center;
                align-items: center;
                filter: brightness(1.1);
                img{
                    filter: drop-shadow(0 0 2px gray);
                }
                &:hover{
                    filter: brightness(1.3);
                }
                #text{
                    display: grid;
                    position: relative;
                    top:-5px;
                    span{
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12px;
                    }
                }
            }
            input{
                display: none;
                z-index: -1;
            }
            #drop{
                position: relative;
                animation: hop 0.3s 1 forwards;
                color:whitesmoke;
                display: grid;
                grid-template-rows: 2fr 1fr;
                justify-items: center;
                align-items: center;
                width: 110px;
                top:-30px;
                img{
                    filter: drop-shadow(0 0 2px gray);
                }
                &:hover{
                    filter: brightness(1.3);
                }
                #text{
                    display: grid;
                    position: relative;
                    top:-5px;
                    span{
                        font-size: 10px;
                        font-weight: 500;
                        line-height: 12px;
                    }
                }
            }
            #placeholder{
                //background-image: linear-gradient(to right, #000000 10%, #333333 55%, #000000 100%);
                background-image: linear-gradient(to right, #0a0a0a 10%, #121212 55%, #0a0a0a 100%);
                background-size: 200% 100%;
                animation: gradientMovement 1s linear infinite;
                &:hover{
                    box-shadow: none;
                }
            }
        }
    }
    &_modal{
        background-color: rgba($color: black, $alpha: 0.85);
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 999999999;
        display: grid;
        justify-content: center;
        align-items: center;
        &_kernel{
            width: 800px;
            //height: 250px;
            background-color: #141414;
            border-radius: 10px;
            padding: 50px;
            position: relative;
            filter: brightness(1.1);
            display: grid;
            justify-content: center;
            row-gap: 10px;
            animation: hop 0.6s 1;
            #close{
                position: absolute;
                top:0; right: 20px;
                color: whitesmoke;
                font-size: large;
            }
            #row1, #row2, #rowmid{
                width: 680px;
            }
            #row1{
                background-image: linear-gradient(to right, #141414, #00a862);
                height: 100px;
                border-radius: inherit;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                img{
                    position: absolute;
                    bottom: 0;left: 0;
                }
                #right{
                    right: 20px;
                    width: 250px;
                    text-align: right;
                    height: fit-content;
                    color: whitesmoke;
                    position: relative;
                    top:5px;
                    right: 30px;
                    span{
                        font-size: small;
                    }
                    #bottom{
                        position: relative;
                        top:-5px;
                    }
                }
            }
            #row2{
                height: 45px;
                display: flex;
                column-gap: 10px;
                border-radius: inherit;
                position: relative;
                input{
                    height: 100%;
                    width: 70%;
                    background-color: black;
                    padding-left: 10px;
                    border-radius: inherit;
                    outline: none;
                    border: none;
                    color: silver;
                }
                button{
                    background-color: #00a862;
                    width: 30%; height: 100%;
                    font-weight: bold;
                    border-radius: inherit;
                    color: whitesmoke;
                    font-size: large;
                    &:hover{
                        filter: brightness(1.2);
                        color: whitesmoke;
                    }
                }
                #text{
                    position: absolute;
                    bottom:-30px;
                    color: white;
                    font-size: small;
                    padding-left: 10px;
                }
            }
            #rowmid{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                justify-items: center;
                padding: 25px 30px;
                gap: 15px;
                button{
                    box-shadow: 0 0 2px 1px rgb(58, 58, 58);
                    border-radius: 5px;
                    color: silver;
                    font-weight: 600;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    column-gap: 10px;
                    position: relative;
                    font-size: 12px;
                    cursor: not-allowed;
                    span{
                        position: absolute;
                        right: 10px;
                        background-color: #515151;
                        padding: 1px 2px;
                        border-radius: 3px;
                        font-size: 11px;
                    }
                }
                button:nth-child(1){
                    color: white;
                }
                #selected{
                    background-color: rgba($color: orange, $alpha: 0.5);
                    box-shadow: 0 0 2px 1px orange;
                }
            }
        }
    }
}
#logg {
  height: 325px;
  position: relative;
  padding-top: 65px;
}
#logg #mad {
  position: absolute;
  top: -110px;
}
#logg #head {
  height: 90px;
  width: 400px;
  left: -30px;
  background-color: #08161F;
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#logg #head h3 {
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  position: relative;
  right: 20px;
}
#logg #each {
  border: 1px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}
#logg #each span {
  font-size: 13px;
  color: white;
  font-weight: 500;
}
#logg #each #soon {
  position: absolute;
  right: 20px;
  color: silver;
  background-color: gray;
  border-radius: 5px;
  font-size: 11px;
  padding: 1px 5px;
}

#bottombanner{
    background-color: #061118;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    position: relative;
    #shell{
        width: 1400px;
        position: relative;
        display: flex;
        align-items: center;
        #leftcol{
            display: grid;
            width: 200px;
            height: 220px;
            padding: 45px 0;
            padding-top: 30px;
            position: relative;
            a{
                color: white;
                font-weight: 600;
                font-size: 13px;
                margin-right: 20px;
            }
            #icons{
                position: absolute;
                bottom: 0;
                height: 30px;
                width: 100%;
                display: flex;
                align-items: flex-end;
                column-gap: 10px;
                img{
                    filter: invert(100%);
                    cursor: pointer;
                }
            }
        }
        #rightcol{
            background-color: #091722;
            width: 1150px;
            height: 220px;
            position: relative;
            border-radius: 20px;
            #center{
                width: 500px;
                height: 100px;
                left: 150px;
                position: absolute;
                top:20px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                #each{
                    display: grid;
                    align-self: center;
                    justify-content: center;
                    height: fit-content;
                    text-align: center;
                    color: white;
                }
            }
            #mad{
                position: absolute;
                right: 20px;
                bottom: 0;
            }
            padding-right: 300px;
            #ops{
                position: absolute;
                bottom: 20px;
                left: 20px;
                height: 40px;
                width: 800px;
                background-color: #0e1f29cc;
                border-radius: 10px;
                display: grid;
                grid-template-columns: repeat(5,1fr);
                #each{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    padding-left: 10px;
                    span{
                        color: white;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    #lowest{
        position: absolute;
        bottom: 5px;
        height: 25px;
        width: 1400px;
        color: white;
        font-size: 11px;
        font-weight: 500;
        span{
            position: absolute;
            top: 0;
            right: 20px;
            color: white;
            font-size: 12px;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
    }
}

.widget{
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 999999;
    &_kernel{
      position: relative;
      background-color: #ffc107;
      box-shadow: 0 0 4px 2px black;
      width: 300px;
      height: 60px;
      animation: widget 2s 1 linear;
      display: flex;
      justify-content: center;
      column-gap: 20px;
      align-items: center;
    }
}


#desktoponly{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(closest-side at center, #1c0c16 0%, #070707 100%);
    z-index: 9999999999;
    display: none;
    #kernel{
        display: grid;
        justify-items: center;
        position: relative;
        top:-50px;
        h1{
            color: white;
            font-weight: 500;
            font-size: larger;
        }
        #double{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            margin-top: 20px;
            #each{
                display: grid;
                justify-items: center;
                color: whitesmoke;
                img{
                    height: 30px;
                    width: auto;
                    object-fit: contain;
                    filter: invert(100%);
                }
            }
        }
    }
}

@media (max-width: 575.98px) { 
    #desktoponly{
        display: grid !important;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
 }




@keyframes widget {
    0%{
        right: -300px;
    }
    30%{
        right: 0;
    }
    100%{
        right: 0;
    }
}

@keyframes hop {
    0%{
        filter: brightness(1.8);
        top:-30px;
    }
    100%{
        filter: brightness(1.1);
        top:0;
    }
}

@keyframes drop {
    from{height: 0; opacity: 0;}
    to{height: 100px; opacity: 1;}
}
